<div class="full headline">
	Meredith is NOT on vacation.
</div>

<div class="eighty fax">
	Speculation is always welcome about Meredith's future vacations!
</div>

{{!--
<div class="eighty fax v-form"

		<form action="api/vacations" method="post" enctype="application/json">
			<div class="f-label">
				Where did Meredith go?
			</div>
			  <input type='text' name='place' class='f-label-box'>
			<div class="f-label">
				How many days was Meredith there?
			</div>
			  <input type='text' name='duration' class='f-label-box'>
			<div class="f-label">
				How did Meredith get there?
			</div>
			  <input type='text' name='transportation' class='f-label-box'>
			  <br><br>
			  <input type="submit" value="submit" class="f-label-box">
		</form>

</div>

--}}

<div class="eighty fax">
	<img src="/public/fax.gif">
</div>
<div class="eighty fax">
Send Meredith a fax:<br>
<a href="mailto:fax@meredithisonvacation.biz">fax@meredithisonvacation.biz</a>
</div>
