<div class="container">
      <div class="row">
        <div class="col-md-6 section1">
          
        
          <h2>Touch to type</h2>
  
        
        </div><!-- end of col --><!-- this is a comment -->
        <div class="col-md-6 section2">
          
          <h2>Speak Now </h2>
        
  
        
        </div><!-- end of col --><!-- this is a comment -->
      </div><!-- end of row -->
       <div class="row">
        <div class="col-md-6 section3">
          
          <h2>Keyboard</h2>
        
  
        
        </div><!-- end of col --><!-- this is a comment -->
        <div class="col-md-6 section4">
          <h1></h1>
          <h2>Personal</h2>
        
  
        
        </div><!-- end of col --><!-- this is a comment -->
      </div><!-- end of row -->
      
      <div class="row">
        <div class="col-md-12 section5">
          <h2>Settings</h2>
            
          
        </div> <!-- end of column -->
      </div><!-- end of row -->
    </div><!-- end of container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    </div>

