body {
    background-image: url("/public/tri.gif");
    background-repeat: repeat;
    width: 100%;
   	font-family: sans-serif;
	color: black;
} 

.headline {

	font-weight: bold;
	line-height: 80%;
	text-align: center;
	font-size: 80px;
	text-shadow: -5px -5px yellow;

}

.full {
	width: 96%;
	float: left;
	margin: 10px 2% 20px;
}

.fax {
	font-size: 40px;
	color: black;
	text-shadow: -2px -2px silver;
}

.eighty {
	width: 80%;
	text-align: left;
	margin: 40px 10%;

}

a {
	color: LightBlue;
	text-shadow: -3px -3px blue;
}