body {
    background-image: url("/public/weekend.gif");
    background-repeat: repeat;
    width: 100%;
    font-family: sans-serif;
  color: black;
} 

.headline {

  font-weight: bold;
  line-height: 80%;
  text-align: center;
  font-size: 80px;
  text-shadow: -5px -5px white;
  color: #1E90FF;
  background:rgba(255,255,255,0.5);
  padding: 20px;
  float: left;

}

#body-section {
  background:rgba(255,255,255,0.5);
  float: left;
  margin: 0 20%;
}

.full {
  width: 60%;
  float: left;
  margin: 10px 20% 20px;
}

.fax {
  font-size: 40px;
  color: black;
  text-shadow: -2px -2px  pink;
  color: #003366;
}

.eighty {
  width: 80%;
  text-align: left;
  margin: 40px 10%;

}

a {
  color: LightBlue;
  text-shadow: -3px -3px blue;
}

.v-form {

background:rgba(255,255,255,0.5);
padding: 20px;


}


.f-label {


}

.f-label-box {
  font-size: 30px;
}