<div class="full headline">
	Meredith is on vacation!
</div>

<div class="eighty fax">
	As you may have heard, Meredith is on vacation! While nobody can say for sure what she is doing, conjecture is always welcome. Conjecture submission form will be available soon, until then send conjecture via fax:
</div>

<div class="eighty fax">
	<img src="/public/fax.gif">
</div>
<div class="eighty fax">
Send Meredith a fax:<br>
<a href="mailto:fax@meredithisonvacation.biz">fax@meredithisonvacation.biz</a>
</div>